node_modules
tmp
/app/assets/javascripts/bundle.js
/app/assets/javascripts/bundle.js.map
/log/development.log
# Ignore master key for decrypting credentials and more.
/config/master.key
/cypress/report