// Background Properties

.back-ground, .logged-back-ground, .back-ground-session, .back-ground-photos {
	width: 100vw;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

// Background Images

.back-ground {
	background-image: image-url('splashnouser.jpg');
}

.logged-back-ground {
	background-image: image-url('freeland.jpg');
}

.back-ground-session {
	background-image: image-url('shawnang.jpg');
}

.back-ground-photos {
	background-image: image-url('treeplace.jpg');
}