html, body {
	// background-color: skyblue;
}

.back-ground {
	background-image: image-url('splashnouser.jpg');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}