// html, body {
// 	background-color: skyblue;
// }

.back-ground, .logged-back-ground, .back-ground-session {
	height: 100%;
	width: 100vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.back-ground {
	background-image: image-url('splashnouser.jpg');
}

.logged-back-ground {
	height: 100vh;
	background-image: image-url('freeland.jpg');
}

.back-ground-session {
	background-image: image-url('shawnang.jpg');
}