// Right Nav

.greeting-container {
    width: 275px;
    height: 33px;
}

.redirect-userlog {
    display: flex;
    justify-content: space-between;
    width: 275px;
    height: 33px;
}

.relog {
    height: 20px;
    width: 100px;
    margin-top: -2px;
    margin-left: 31px;
    text-align: right;
}

.logbtn {
    color: white;
    text-decoration: none;
    font-size: 15.3px;
    font-weight: 500;
}

.resign {
    height: 33px;
    width: 100px;
    margin-right: 23px;
    margin-top: -2px;
}

.signbtn {
    padding-top: 7.5px;
    padding-bottom: 7.8px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 15px;
    font-weight: 600;
    border-radius: 3px;
}

.signbtn:hover {
    cursor: pointer;
    color: lightgrey;
}

// welcome

.welcome-container {
    display: flex;
    margin-left: -24px;
    margin-top: -7.5px;
}

.welcome-message {
    width: 194px;
    padding-top: 8px;
    padding-right: 4px;
    color: white;
}