// scss for splash page once you have logged in //

// tabs bar //

.logged-tabs-container, .tab-but-container, 
.advertisement-container, .phlickr-pro-container {
    display: flex;
}

.logged-tabs-container {
    background-color: white;
    border-bottom: 1px solid rgb(220, 220, 220);
    width: 100%;
    height: 49px;
}

.tab-but-container {
    margin-left: 10.2vw;
}

.all-activity-but, .people-but, .groups-but {
    color: rgb(84, 84, 84);
    border-bottom: 3px solid transparent;
    height: 43px;
    width: 90px;
    font-size: 15px;
    transition: 0.2s;
    margin-top: 3px;
}

.all-activity-but {
    width: 110px;
}

.people-but, .groups-but {
    margin-left: 10px;
}

.all-activity-but:hover, .people-but:hover, .groups-but:hover {
    cursor: pointer;
    color: black;
    border-bottom: 3px solid rgb(50, 145, 220);
}

// adverstisement on page //

.advertisement-container, .phlickr-pro-container {
    justify-content: center;
    width: 100%;
}

.ad-vert {
    color: rgb(243, 245, 246);
    background-image: image-url('advertisement_flickr.jpeg');
    width: 970px;
    height: 250px;
    margin-left: 16.3vw;
    margin-top: 5.6vh;
}

.ad-vert:hover {
    cursor: pointer;
}

.phlickr-pro-container {
    margin-top: 5px;
}

.phlickr-pro-message {
    font-size: 13.3px;
    color: rgb(143, 143, 143);
}

.phlickr-pro-message:hover {
    cursor: pointer;
    text-decoration: underline;
}