// Detail component

.detail-bar-container {
    z-index: 2;
}

.detail-bar {
    display: flex;
    width: auto;
    height: 50px;
    z-index: 2;
    background-color: rgb(32, 33, 35);
}

.detail-container {
    margin-top: 9px;
    margin-left: 50px;
    padding-left: 95px;
    z-index: 2;
}

.logged-detail, .prints-container, .greet-logout, 
.leftside-logo-container, .rightside-logo-container,
.cloud-icon-container, .notification-bell-container, 
.second-half-logged-nav {
    display: flex;
}

.logged-detail {
    justify-content: space-between;
    width: 84vw;
}

.second-half-logged-nav {
    justify-content: space-between;
    width: 35.8%;
}

#secondHalfNav {
    -webkit-transition-property: width;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
}

// logged detail display

.detail-title, .detail-title-2, .profile-link, .explore-logged,
.prints-logged, .prints-new-logged, .get-pro-logged {
    text-decoration: none;
    color: white;
    font-size: 15.5px;
}

.profile-link, .explore-logged,
.prints-logged, .prints-new-logged, .get-pro-logged {
    margin-top: 1vh;
}

.detail-title, .detail-title-2 {
    font-size: 29px;
    font-weight: bold;
    margin-left: -16px;
}

.profile-link {
    margin-left: 1.8vw;
}

.explore-logged {
    margin-left: 2.4vw;
}

.prints-container, .get-pro-logged {
    margin-left: 2.45vw;
}

.get-pro-logged {
    font-size: 15px;
}

// right side of logged nav bar

.cloud-icon, .notification-bell {
    margin-top: -0.5vh;
}

.cloud-icon {
    background-image: image-url('clouduploadicon.jpeg');
    width: 2.9vw;
    margin-left: -7vw;
}

.notification-bell {
    background-image: image-url('notificationbellicon.jpeg');
    width: 2.2vw;
    margin-left: -3.28vw;
}

// logged detail display hover effects

.profile-link:hover, .explore-logged:hover, 
.get-pro-logged:hover, .prints-container:hover,
.detail-title:hover, .cloud-icon:hover,
.notification-bell:hover {
    cursor: pointer;
    opacity: 0.7;
}