.all-photos {
    margin-left: -170px;
    margin-right: 65px;
    margin-top: -7px;
    margin-bottom: 7px;
}

.hide-photos {
    margin-left: -600px;
    margin-right: 500px;
    margin-top: -7px;
    margin-bottom: 7px;
}