// Photo Links

.all-photos, .hide-photos {
    background-color: rgb(49, 144, 220);
    color: white;
}

.all-photos {
    margin-left: -170px;
    margin-right: 65px;
    margin-top: -7.5px;
    margin-bottom: 7.5px;
}

.hide-photos {
    margin-left: -805px;
    margin-right: 705px;
    margin-top: -7.5px;
    margin-bottom: 7.5px;
}