// all profile tab conetent styling //

// photostream css //  photo stream containers //

.photostream-top-bar, .photostream-dropdown-cont, .ps-date-uploaded-cont,
.ps-public-view-cont, .photostream-content-cont, .no-public-photos-cont,
.ps-info-cont, .ps-info-two-cont, .camera-upload-link-cont {
    display: flex;
}

.photostream-content-cont, .no-public-photos-cont, .ps-info-cont, 
.ps-info-two-cont, .camera-upload-link-cont {
    justify-content: center;
    width: 100%;
}

.photostream-top-bar {
    justify-content: space-between;
    margin-top: 0.1vh;
}

.photostream-dropdown-cont {
    margin-left: 10vw;
}

.ps-public-view-cont {
    margin-left: 35px;
}

// photostream top bar //

.date-uploaded, .public-view, .dropdown-arrow {
    font-size: 15px;
    font-weight: normal;
    color: rgb(115, 123, 128);
}

.arrow-cont {
    margin-top: -4px;
}

.dropdown-arrow {
    font-size: 17px;
    margin-left: 6px;
}

.photostream-share-cont {
    margin-right: 10vw;
    margin-top: 1.7vh;
}

.share-arrow {
    background-image: image-url('sharearrow.jpeg');
    color: transparent;
    width: 23px;
    height: 23px;
}

.date-uploaded:hover, .public-view:hover, .dropdown-arrow:hover, .share-arrow:hover {
    cursor: pointer;
}

// photostream main content //

.ps-content {
    margin-top: 24px;
}

.ps-info-cont {
    margin-top: 7px;
}

.ps-info-two-cont {
    margin-top: -26px;
}

.no-public-photos {
    font-size: 23px;
    font-weight: lighter;
    color: rbg(32, 33, 35);
}

.ps-info, .ps-info-two {
    font-size: 15.7px;
    font-weight: normal;
    color: rbg(64, 65, 66);
}

.camera-upload-link-cont {
    margin-top: 3px;
}

.to-camera-upload-link {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: rgb(49, 144, 220);
    border-radius: 3px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 9px;
    padding-bottom: 12px;
    width: 135px;
    height: 15px;
}

.to-camera-upload-link:hover {
    background-color: rgb(45, 148, 233);
}