// all profile tab conetent styling //

// photostream css //  photo stream containers //

.photostream-top-bar, .photostream-dropdown-cont, .ps-date-uploaded-cont,
.ps-public-view-cont, .photostream-content-cont, .no-public-photos-cont,
.ps-info-cont, .ps-info-two-cont, .camera-upload-link-cont {
    display: flex;
}

.photostream-content-cont, .no-public-photos-cont, .ps-info-cont, 
.ps-info-two-cont, .camera-upload-link-cont {
    justify-content: center;
    width: 100%;
}

.photostream-top-bar {
    justify-content: space-between;
    margin-top: 0.1vh;
}

.photostream-dropdown-cont {
    margin-left: 10vw;
}

.ps-public-view-cont {
    margin-left: 35px;
}

// photostream top bar //

.date-uploaded, .public-view, .dropdown-arrow {
    font-size: 15px;
    font-weight: normal;
    color: rgb(115, 123, 128);
}

.arrow-cont {
    margin-top: -4px;
}

.dropdown-arrow {
    font-size: 17px;
    margin-left: 6px;
}

.photostream-share-cont {
    margin-right: 10vw;
    margin-top: 1.7vh;
}

.share-arrow {
    background-image: image-url('sharearrow.jpeg');
    color: transparent;
    width: 23px;
    height: 23px;
}

.date-uploaded:hover, .public-view:hover, .dropdown-arrow:hover, .share-arrow:hover {
    cursor: pointer;
}

// photostream main content //

.ps-content {
    margin-top: 24px;
}

.ps-info-cont {
    margin-top: 7px;
}

.ps-info-two-cont {
    margin-top: -26px;
}

.no-public-photos, .lot-of-photos, .sp-info-1, .gallery-info-1, .faves-info-1 {
    font-size: 23px;
    font-weight: lighter;
    color: rgb(32, 33, 35);
}

.ps-info, .ps-info-two, .you-drag-drop, .or-tag, .sp-info-2, .sp-info-3, 
.gallery-info-2, .gallery-info-3, .faves-info-2 {
    font-size: 15.7px;
    font-weight: normal;
    color: rgb(64, 65, 66);
}

.camera-upload-link-cont {
    margin-top: 3px;
}

.to-camera-upload-link, .select-files-span, 
.learn-more-pro-link {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: rgb(49, 144, 220);
    border-radius: 3px;
    font-size: 15px;
    padding-left: 20px;
    padding-top: 9px;
}

.to-camera-upload-link {
    padding-right: 15px;
    padding-bottom: 12px;
    width: 135px;
    height: 15px;
}

// hover effects for all similar buttons on every tab //

.to-camera-upload-link:hover, .select-files-span:hover, .learn-more-pro-link:hover, 
.create-groups-but:hover, .create-gallery-but:hover, .start-faves-but:hover {
    cursor: pointer;
    background-color: rgb(45, 148, 233);
}

// camera roll css // camera roll containers //

.camera-roll-main-cont, .lot-of-photos-cont, .you-drag-drop-cont, 
.or-tag-cont {
    display: flex;
    justify-content: center;
}

// camera roll content //

.cr-content {
    margin-top: 75px;
}

.you-drag-drop-cont {
    margin-top: 6.5px;
}

.or-tag-cont {
    margin-top: -10px;
}

.camera-photo-input-cont {
    margin-left: 9.4vw;
    margin-top: 13px;
}

.camera-photo-input {
    display: none;
}

.select-files-span {
    padding-right: 20px;
    padding-bottom: 10px;
}

// stats tab css // stats tab containers //

.stats-pro-cont, .phlickr-pro-image-cont, .sp-cont-1, 
.sp-cont-2, .sp-cont-3, .learn-more-pro-cont {
    display: flex;
    justify-content: center;
    width: 100%;
}

// stats content //

.stats-content-cont {
    margin-top: 53px;
}

.phlickr-pro-image {
    margin-left: 0.3vw;
}

.phlickr-pro-image {
    background-image: image-url('phlickrpro.jpeg');
    color: transparent;
    width: 120px;
    height: 130px;
}

.sp-cont-1 {
    margin-top: 17px;
}

.sp-cont-2 {
    margin-top: 6px;
}

.sp-cont-3 {
    margin-top: -25px;
}

.learn-more-pro-cont {
    margin-top: 3px;
}

.learn-more-pro-link {
    padding-right: 16px;
    padding-bottom: 12px;
    width: 160px;
    height: 15px;
}

// groups tab css // groups containers //

.groups-main-cont, .groups-main-content, .groups-info-cont,
.gallery-main-cont, .gallery-info-cont-1, .gallery-info-cont-2,
.gallery-info-cont-3, .gallery-but-cont, .faves-main-cont,
.faves-info-1-cont, .faves-info-2-cont, .start-faves-but-cont {
    display: flex;
    justify-content: center;
}

.gps-cont {
    margin-top: 26px;
}

.groups-main-content {
    margin-left: 59.4vw;
}

.groups-info-cont {
    margin-top: 32px;
}

// groups tab content //

.rec-dis-link {
    font-size: 15.5px;
    color: rgb(59, 129, 183)
}

.create-groups-but, .create-gallery-but, .start-faves-but {
    color: white;
    font-weight: bold;
    background-color: rgb(49, 144, 220);
    border-radius: 3px;
    font-size: 15px;
}

.create-groups-but {
    padding-top: 7px;
    padding-bottom: 10px;
    padding-right: 1px;
    padding-left: 1px;
    width: 135px;
    height: 15px;
    margin-left: 23.3px;
    margin-top: -6px;
}

.groups-info-1 {
    font-size: 17.5px;
    font-weight: normal;
    color: rgb(64, 65, 66);
}

.rec-dis-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

// galleries tab css // galleries containers //

.gallery-content-cont {
    margin-top: 51px;
}

.gallery-info-cont-2 {
    margin-top: 6px;
}

.gallery-info-cont-3 {
    margin-top: -25px;
}

.gallery-but-cont {
    margin-top: 3px;
}

// galleries content //

.create-gallery-but {
    padding-top: 9px;
    padding-bottom: 12px;
    padding-right: 2.5px;
    padding-left: 3px;
    width: 135px;
    height: 15px;
}

// faves tab css // faves containers //

.faves-content-cont {
    margin-top: 25px;  
}

.faves-info-2-cont {
    margin-top: 6px;
}

.start-faves-but-cont {
    margin-top: 3px;
}

// faves tab content //
.start-faves-but {
    padding-top: 9px;
    padding-bottom: 12px;
    padding-right: 3px;
    padding-left: 5px;
    width: 180px;
    height: 15px;
}