// for the profile page when you go to your profile //

.profile-cover {
    background-image: image-url('phlickrprofilebackground.jpeg');
    width: 100%;
    height: 251.5px;
    z-index: 2;
    margin-top: -0.2vh;
}