// for the profile page when you go to your profile //

// profile containers //

.profile-cover {
    background-image: image-url('phlickrprofilebackground.jpeg');
    width: 100%;
    height: 101.5px;
    padding-top: 150px;
    z-index: 2;
    margin-top: -0.2vh;
}

.profile-contents {
    margin-left: 18vw;
}

.full-content-container, .email-follow-container, .photo-joined-container {
    display: flex;
}

.full-content-container {
    justify-content: space-between;
}

.email-follow-container {
    padding-top: 1.8vh;
}

.photo-joined-container {
    margin-right: 10vw;
    padding-top: 12px;
}

.profile-tabs-container {
    margin-left: 10vw;
}

// profile contents //

.profile-name, .short-email, .followers-count, .white-dot, 
.following-count, .photo-upload-amount, .joined-date {
    color: white;
    font-weight: lighter;
}

.short-email, .followers-count, .following-count,
.photo-upload-amount, .joined-date {
    font-size: 15.5px;
}

.short-email {
    margin-right: 30px;
}

.profile-name {
    font-size: 34px;
}

.white-dot {
    font-size: 24px;
    margin-left: 6.5px;
    margin-right: 5px;
    margin-top: -9.5px;
    font-family: 'Courier New', Courier, monospace;     // note might want to use these on the login and signup form page for the dots at the top
}

.joined-date {
    margin-left: 30px;
}

// buttons on tab bar //

.about-but, .photostream-but, .albums-but, .faves-but,
.gallery-but, .profile-groups-but, .stats-but, .camera-roll-but {
    color: rgb(84, 84, 84);
    border-bottom: 3px solid transparent;
    height: 43px;
    font-size: 16px;
    transition: 0.2s;
    margin-top: 3.7px;
}

.about-but {
    width: 80px;
}

// hover effects //

.followers-count:hover, .following-count:hover {
    cursor: pointer;
    text-decoration: underline;
}

.about-but:hover, .photostream-but:hover, .albums-but:hover, .faves-but:hover,
.gallery-but:hover, .profile-groups-but:hover, .stats-but:hover, .camera-roll-but:hover {
    cursor: pointer;
    color: black;
    border-bottom: 3px solid rgb(50, 145, 220);
}