// Session Form General

// Detail component

.detail-bar {
    display: flex;
    width: auto;
    height: 48px;
    z-index: 2;
    background-color: rgb(32, 33, 35);
}

.detail-container {
    margin-top: 9px;
    margin-left: 50px;
    padding-left: 95px;
}

.detail-title {
    color: white;
    font-size: 29px;
    text-decoration: none;
    font-weight: bold;
}

// Session

.session-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    height: 590px;
    padding: 32px;
}
