// Signup Form

.sign-up-container {
    height: 620px;
    width: 500px;
}

.sign-up-form {
    margin-top: -36px;
    height: 563px;
    width: 272px;
}

// Form content

.sign-label {
    margin-top: 18px;
    margin-left: 62px;
}

.form-s-btn {
    margin-top: 32px;
}

.form-condition {
    color: rgb(159, 159, 159);
    font-size: 11px;
    font-weight: normal;
}

//continue