.main-nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: auto;
    height: 64px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
}

.right-nav {
    margin-top: 25px;
    margin-right: 25px;
    width: 250px;
}

.left-nav {
    margin-top: 15px;
    margin-left: 25px;
}

.site-title {
    color: white;
    font-size: 28px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}

.site-title:hover {
    cursor: pointer;
}

.search-box-container {  // remember to adjust size with new i tag
    height: 33px;        // and to keep adjusting the bellow content
    width: 1500px;
    margin-left: 15px;
}

.search-text-box {
    margin-top: 15px;
    background-color: white;
    height: 28px;
    width: 60%;
    font-family: sans-serif;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.magsearch {
    background-color: white;
    height: 33px;
    width: 50px;
    margin-top: 16px;
}

.magsearch:hover {
    cursor: pointer;
}
