// root no user

.inspiration-content {
    padding-left: 60px;
    padding-right: 60px;
    height: auto;
    width: auto;
}

.find-insp {
    padding-top: 145px;
    padding-bottom: 7px;
    font-size: 52px;
    text-align: center;
    color: white;
}

.insp-desc1, .insp-desc2 {
    text-align: center;
    color: white;
    font-size: 23.3px;
    width: 56%;
    margin-left: 100px;
    padding-left: 190px;
}

.insp-desc2 {
    margin-top: -18px;
}

// Sign in link

.splashbtn-container {
    margin-left: 150px;
    margin-top: 72px;
    padding-left: 410px;
}

.signbtn-splash {
    padding-top: 20px;
    padding-bottom: 19px;
    padding-left: 58.3px;
    padding-right: 58.3px;
    text-decoration: none;
    background-color: white;
    font-size: 22px;
    color: black;
    font-weight: 600;
    border-radius: 3px;
}

.signbtn-splash:hover {
    cursor: pointer;
    color: lightgrey;
}

// Demo User

.demo-container {
    margin-left: 200px;
    margin-top: 50px;
    padding-left: 373px;
    margin-bottom: 84px;
}

// Splash Footer

.splash-footer {
    color: black;
    background-color: black;
    width: 100%;
    padding-bottom: 15px;
}