// root no user

// containers

.inspiration-content, .find-insp-cont, .insp-desc1-cont, 
.insp-desc2-cont, .splashbtn-container {
    height: auto;
    width: auto;
}

.find-insp-cont, .insp-desc1-cont, .insp-desc2-cont, 
.splashbtn-container, .demo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inspiration-content {
    margin-top: 21.2vh;
}

.insp-desc2-cont {
    margin-bottom: 32px;
}

.demo-container {
    margin-top: 20px;
    margin-bottom: 20vh;
}

// content

.find-insp {
    font-size: 56px;
    text-align: center;
    color: white;
    margin-left: 13px;
}

.insp-desc1, .insp-desc2 {
    text-align: center;
    color: white;
    font-size: 23.6px;
    width: 56%;
}

.insp-desc2 {
    margin-top: -16px;
}

// Sign in link

.signbtn-splash {
    padding-top: 19.5px;
    padding-bottom: 19.5px;
    padding-left: 32.5px;
    padding-right: 32.5px;
    text-decoration: none;
    background-color: white;
    font-size: 22.5px;
    color: black;
    font-weight: 600;
    border-radius: 3px;
}

.signbtn-splash:hover {
    cursor: pointer;
    color: lightgrey;
}

// Splash Footer

.splash-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    color: black;
    background-color: black;
    width: 100%;
    padding-bottom: 15px;
}

.github {
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: 20px;
    margin-top: 13px;
}

.github:hover {
    color: rgb(180, 180, 180);
}

.github-icon {
    width: 60px;
    height: 60px;
}

// Root Splash

.root-tab-content {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
}

.welcome-tag-site {
    font-size: 100px;
    color: white;
}