// Whole nav

.main-nav {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 64px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
}

.right-nav {
    margin-top: 25px;
    margin-right: 25px;
    width: 250px;
}

.left-nav {
    margin-top: 15px;
    margin-left: 25px;
}

.site-title {
    color: white;
    font-size: 28px;
    text-decoration: none;
    font-weight: bold;
}

.site-title:hover {
    cursor: pointer;
}

// All Search Box CSS here!!! //

.search-box-container, .logged-search-box-container {
    display: flex;
    height: 33px;
}

.search-box-container {
    width: 100%;
    margin-left: 100px;
}

.logged-search-box-container {
    width: 51.4%;
}

.search-text-box, .logged-search-text-box {
    background-color: white;
    opacity: 0.7;
    height: 33px;
    border: none;
}

.search-text-box {
    margin-top: 16px;
    width: 90.8%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 13.62px;
    transition: 0.5s;
}

.logged-search-text-box {
    width: 100%;
    opacity: 0.8;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size: 13.4px;
    transition: 0.5s;
}

.logged-search-text-box::placeholder {
    color: rgb(165, 165, 165);
}

.search-text-box:focus {
    opacity: 1;
    outline: none;
}

.mag-search, .logged-mag-search {
    background-color: white;
    opacity: 0.7;
    text-align: center;
    height: 29px;
    margin-left: 2px;
    font-size: 16px;
    padding-top: 4px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transition: 0.5s;
}

.mag-search {
    margin-top: 16px;
    width: 42px;
    padding-right: 8px;
}

.logged-mag-search {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    opacity: 0.8;
    width: 43px;
    padding-right: 2px;
}

.logged-search-text-box:focus {
    opacity: 1;
    outline: none;
}

.mag-search:hover, .logged-mag-search:hover {
    cursor: pointer;
}
